
body{
  background-image: url("tut.png");
}

#container{

  margin-left: 10vw;
  margin-right: 10vw;

}

.letter{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 25px;
}

.space{
  width: 40px;
  height: 40px;
  margin-top: 25px;
  display: inline-block;
  background-image: url("pokedex/bush.png");
  border: none;
}

audio {
  position: fixed;
  bottom: 0;
  right: 0;
}

img{
  border: transparent;
}
