*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}


/*MAISON NEUE*/
@font-face{
  font-family: "Maison Neue", helvetica, sans-serif;
  src: url('maison-neue-light.ttf')
  format('true-type');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: "Maison Neue", helvetica, sans-serif;
  src: url('maison-neue-light-italic.ttf')
  format('true-type');
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: "Maison Neue", helvetica, sans-serif;
  src: url('maisonneuebook.ttf')
  format('true-type');
  font-style: normal;
  font-weight: 400;
}
@font-face{
  font-family: "Maison Neue", helvetica, sans-serif;
  src: url('maisonneuebookitalic.ttf')
  format('true-type');
  font-style: italic;
  font-weight: 400;
}
@font-face{
  font-family: "Maison Neue", helvetica, sans-serif;
  src: url('MaisonNeue-Demi.ttf')
  format('true-type');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: "Maison Neue", helvetica, sans-serif;
  src: url('MaisonNeue-DemiItalic.ttf')
  format('true-type');
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: "Maison Neue Mono", helvetica, sans-serif;
  src: url('maison-neue-mono.ttf')
  format('true-type');
  font-style: normal;
}

@font-face{
  font-family: "Maison Neue Mono", helvetica, sans-serif;
  src: url('maison-neue-mono-italic.ttf')
  format('true-type');
  font-style: italic;
}

body, html{
  height: 100%;
}

.bg {
  background-image: url("background.png");

  background-size: cover;
  position: fixed;
  z-index: 2;
}

.backgroundimagegone {
  background-color: white;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}


.siteTitle{
  background-color: white;
  position: fixed;
  right: 25vw;
  width: 470px;
  height: 50px;
  top: 75px;
  z-index: 97;

}
.title, h1{

    font-family: 'Maison Neue','Titillium Web', helvetica, sans-serif;
    letter-spacing: 10px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-right: -7px;

}

    .black{
      width: 458px;
      position: absolute;
      z-index: 100;
      color: black;
      text-align: right;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    .purple{
      width: 458px;
      position: absolute;
      top: calc(50% + 2px);
      transform: translate(-50%, -50%);
      left: calc(50% - 2px);
      z-index: 99;
      color: #ccccff;
      text-align: right;
    }

    .red{
      width: 458px;
      position: absolute;
      top: calc(50% + 4px);
      left: calc(50% - 4px);
      transform: translate(-50%, -50%);
      color: #f53141;
      z-index: 98;
      text-align: right;
    }


.navigation {
  position: fixed;
  text-align: right;
  right: 5vw;
  bottom: 100px;
  font-family: 'Maison Neue', 'Titillium Web', helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 5px;

  z-index: 95;
}

    .navigation a{
      color: black;
    }
    .navigation a:hover{
      text-decoration: line-through;
    }

.postnavigation{
  display: none;
  position: fixed;
  text-align: center;
  left: 5vw;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'Maison Neue', 'Titillium Web', helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  z-index: 90;
}

    .postnavigation a{
      color: black;
    }

      .navshadow{
        display: inline-block;
        position: fixed;
        text-align: center;
        color: #f53141;
        left: calc(5vw - 1px);
        top: calc(50% + 1px);
        transform: translate(0, -50%);
        font-family: 'Maison Neue', 'Titillium Web', helvetica, sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        z-index: 89;
      }

mark{
  background-color: white;
}

iframe{
  margin: 0;
}

.portal{
  position: fixed;
  height: calc(100vh - 130px);
  width: 65vw;
  right: 25vw;
  top: 130px;
  border: none;
  z-index: 91;
}

.portal2{
  position: fixed;
  height: 100vh;
  width: 65vw;
  right: 25vw;
  border: none;
  z-index: 90;
  top: 0;
  overflow: scroll;
}

.iframebody{
  margin: 0;
}


.heading1{
  font-family: 'Maison Neue', "Titillium Web", helvetica, sans-serif;
  position: sticky;
  right: 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 45px;
  letter-spacing: 10px;
  text-align: right;

  z-index: 90;
}

.heading3{
  font-family: 'Crimson Text', garamond, serif;
  font-weight: 400;
  font-style: italic;
  line-height: 50px;
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
}

.headingline{
  height: 10px;
  width: 99vw;
  float: left;
  background-color: black;
  display: inline-block;
  position: sticky;
  top: 0;
}


.copy{
  position: absolute;
  margin-top: 0;
  margin-bottom: 75px;
  width: calc(100% - 20px);


  /*--DELETE ONCE THE IFRAMES ARE SORTED OUT*/
}

.body{
  font-family: 'Caslon', 'Crimson Text', garamond, serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  display: inline-block;

  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";

  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";

}

        .body p {  display: inline-block;  }

        .quote {
          margin: 0 50px;
          text-align: left;
          font-size: 45px;
          font-weight: 600;
        }

        .body a{
          color: black;
          text-decoration: line-through;
        }

        .body a:hover{
          text-decoration: none;
        }

        .cobey {

          letter-spacing: 1px;
          font-style: italic;
          font-weight: 700;
          display: inline-block;
        }

        .bibliography{
          font-size: 30px;
          line-height: 35px;
        }

        .bibliography a{
          text-decoration: none;
        }

        .bibliography a:hover{
          color: #f53141;
        }

.abouttitle{
      text-align: left;
      font-weight: 700;
      font-size: 50px;
      margin-top: 20px;
      margin-bottom: -35px;
    }

img.cursorbuddy {
      display: none;
      position: absolute;
      width: 30vw;
      z-index: 99;
  }

img.cursorbuddytitle {
        display: none;
        position: absolute;
        height: 40px;
        z-index: 99;
    }

/*
.navLineNorth{
  height: 15vh;
  width: 2px;
  background-color: black;
  position: fixed;
  left: calc(5vw + 5px);
  top: 130px;
  z-index: 101;
}

.navLineSouth{
  height: 15vh;
  width: 2px;
  background-color: black;
  position: fixed;
  left: calc(5vw + 5px);
  bottom: 130px;
  z-index: 101;
}

.eastBisector{
  width: 10vw;
  right: 5vw;
  height: 2px;
  background-color: black;
  position: fixed;
  top: 50%;
  z-index: 101;
}
*/

#share-buttons img {
width: 35px;
padding: 10px;

border: 0;
box-shadow: 0;
display: inline;

}

.sharebuttons{
  left: 50%;
  transform: translateX(-30%);
  position: absolute;
  display: inline-block;
  z-index: 101;
}

.fb-share-button{

  width: 73px;
  height: 28px;
  margin: 0 5px;
}

.twitter-share-button{
  height: 28px;
  margin: 0 5px;
  padding: 0;
}

.powr-comments{
  width: 75%;
  display: inline-block;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: 101;
}


/*BLOG THUMBNAILS*/

.thumbnail{
  width: 30vw;
  display: block;
  position: absolute;
  overflow: scroll;
  z-index: 20;
  background-color: #cccfff;
}

      .thumbnailimage{  width: 100%; vertical-align: bottom; opacity: .5; }

      .excerpt {
        width: 30vw;
        display: block;
        position: absolute;
        overflow: scroll;
        z-index: 21;
        color: #f53141;
      }

      .post1thumb{  left: 0; top: 0;  }
      .post2thumb{  right: 5vw; top: 40vw;  }
      .post3thumb{  left: 20vw; top: 70vw;  }
      .post4thumb{  right: 0; top: 100vw;  }
      .post11thumb{  left: 20vw; top: 140vw;  }
      .post22thumb{  left: 2vw; top: 170vw;  }
      .post33thumb{  right: 0; top: 220vw;  }
      .post44thumb{  right: 30vw; top: 250vw;  }

      .excerpt h1{
        letter-spacing: 0;
        margin: 5px 0 0 5px;
        line-height: 110%;
        font-size: 2.5vw;
      }

      .excerpt p{
        font-family: 'Maison Neue Mono', 'Maison Neue', courier, sans-serif;
        line-height: 120%;
        margin: 0 5px;
        font-size: 1.4vw;
      }





/*PHONE*/
@media (max-width: 480px) {

  .navigation{
    text-align: center;
    bottom: 20px;
    right: 50%;
    transform: translate(50%, 0);
  }

  .portal{
    left: 0;
    width: 100vw;
    z-index: 15;
    top: 75px;
    height: calc(100% - 75px);
  }

  .thumbnail{width: 50vw;}
  .excerpt{ width: 50vw;}
  .excerpt h1{font-size: 4vw; text-align: left;}
  .excerpt p{font-size: 2.5vw;}


  .siteTitle{
    width: 90vw;
    left: 5vw;
    top: 20px;
  }

  .bg{
    background-image: url("background.gif");
  }

  .title, h1{
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
    margin-right: -10px;
  }

  .heading1{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0 8vw;
  }

  .heading3{
    font-size: 20px;
    line-height: 30px;
  }

  .headingline{
    width: 100vw;
  }

  .copy p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .navshadow{
    left: calc(100vw - 31px);
    top: calc(100vh - 216px);
  }

  .postnavigation{
    left: calc(100vw - 30px);
    top: calc(100vh - 217px);
  }
        .post1thumb{  left: 0; top: 0; }
        .post2thumb{  right: 20px; top: 40vw;  }
        .post3thumb{  left: 0; top: 80vw;  }
        .post4thumb{  right: 0; top: 110vw;  }
        .post11thumb{  left: 0; top: 150vw;  }
        .post22thumb{  left: 20px; top: 180vw;  }
        .post33thumb{  right: 0; top: 260vw;  }
        .post44thumb{  right: 0; top: 300vw; margin-bottom: 150px; }



@media (min-width: 481px) and (max-width: 630px) {
  .siteTitle{
    left: 0;
  }
}
