/*COBEYL.US/INGER STYLES*/

/*MASTER FOR HOME*/
#top, #bottom, #left, #right {
	background: #fac9d2;
	position: fixed;
	z-index: 10000;}

  #left, #right {
		top: 0;
		bottom: 0;
		width: 20px;}

		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0;
		right: 0;
		height: 20px;}

		#top { top: 0; }
		#bottom { bottom: 0; }

#header{

  position: fixed;
  top: 50%;
  left: 0%;
  margin-left: 100px;
  transform: translate(0%,-50%);


}

#mainHeader1{

  color: #fa364a;
  text-align: left;
  font-family: 'Inknut Antiqua', serif;
  text-decoration: none;
  font-weight:400;
  font-size: 54px;

}

#mainHeader2{

  color: darkgrey;
  text-align: left;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-decoration: none;
  padding-left: 15px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 36px;

}

#body{

  position: absolute;
  margin-top:100px;
  margin-bottom:100px;
  margin-right: 400px;
  margin-left: 400px;
	padding-top: 25px;
	padding-bottom: 25px;

	font-family: 'Inknut Antiqua', serif;
  font-weight: 400;
	font-size: 16px;
	line-height: 32px;

}

h1{

	font-family: 'Inknut Antiqua', serif;
	font-weight: 400;

	color: #fa364a;
	font-size: 32px;
	line-height: 48px;

}

h2{

	font-family: 'Inknut Antiqua', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;

}

h3 {

	font-family: 'Inknut Antiqua', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

a {
	text-decoration: none;
	color: #262626;
}

a:hover{
	color: #fa364a;
}

/*CAROUSEL*/
/*.carouselouter{

	position: absolute;
	top: 50%;
	left: 0%;
	margin-left: 400px;
	transform: translate(0%,-50%);
	background: lightgrey;
	overflow: scroll;
	width: 20000px;
	max-height: 750px;

}

.carouselinner{
	width: 20000px;
}

.carouselimage{

	max-height: 750px;

	border: 20px;
	border-color: white;

	display: inline-block;
	float: left;
}

carouselimage:hover{

	border-color: #2f2fea;

}*/
#carouselouter{

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	margin-left: 400px;
	padding-top: 25px;
	padding-bottom: 25px;

	overflow: hidden;
	max-height: 750;
	margin-right: 400px;

}

#carousel{

	height: 100%;
	background-color: white;

	overflow: scroll;
	white-space: nowrap;

}

.carouselimage{

	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;

}

.carouselimagesize{

	display: inline-block;
	height: 100%;
	outline: 15px transparent #2f2fea;
	outline-offset: -15px;

}

.carouselimage .carouselimagesize:hover {

	outline: solid;

}
