*{
  box-sizing: border-box;
}

body{
  font-size: 0;
  margin: 100px;
}

header{
  position: fixed;
  background-color: white;
  padding: 10px;
  border: 1px solid red;
  left: 100px;
  bottom: 10px;
  font-size: 15px;
}

.label{
  display: inline-block;
}

.label.active{background-color: lightpink;}
.label.inactive{background-color: lightblue;}

.prompt, .monitor{
  display: inline-block;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}

.prompt{
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.block{
  display: inline-block;
  border: 1px solid blue;
  width: calc(10% - 4px);
  margin: 2px;
  padding-top: 10%;
}

.black{background-color: black;}
.yellow{background-color: yellow;}

/*PHONE*/
@media (max-width:480px) {
  .block{
    width: calc(20% - 4px);
    padding-top: calc(20% - 4px);
  }
  .label.active{display: none;}
}

/*PHABLET TO SMALL DESKTOP*/
@media (min-width: 481px) and (max-width:991px){
  .block:hover{
    background-color: pink;
  }
  .label.inactive{display: none;}
  .prompt{display: none;}
}

/*LARGE DESKTOP*/
@media (min-width: 992px) {
  .block{
    width: calc(5% - 4px);
    padding-top: calc(5% - 4px);
  }
  .label.active{display: none;}
}



/* ANIMATIONS */
@keyframes pulse{
  0% {opacity: 0};
  50% {opacity: 1};
  100% {opactiy: 0}
}
