.header{
  margin-left: 50px;
  width: calc(100% - 100px);
  padding-top: 40px;
  text-transform: uppercase;
  position: fixed;
  color: black;

  z-index: 100;
}

      .header #mainTitle{
        font-family: 'Work Sans', Helvetica, sans-serif;
        font-weight: 800;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 5px;
        margin-left: -3px;
        }

      .header #titleLine{
        width: 100%;
        margin-bottom: 1.8px;
        height:5px;
        border-bottom: 5px solid #f53141;
        }

      .header #regionTitle{
        font-family: 'Work Sans', Helvetica, sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 5px;
        }



main{

  font-size: 0;

  width: calc(100% - 140px);
  min-width: 600px;
  height: calc(100% - 500px);
  margin: auto 50px auto 120px;
  padding-top: 175px;
}

.container {
  overflow: hidden;
}


.col{
  margin: 0 20px 0 20px;
  display: inline-block;
  vertical-align: top;
}

    .col img{
      width: calc(100%);
      vertical-align: top;
      display: inline-block;}

      .col-1of6{
        width: calc(16.666% - 40px);
        overflow: scroll;
        }

          .col-1of6 p{
            font-family: 'Work Sans', Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            color: lightgrey;
          }

      .col-3of6{
        width: calc(50% - 40px);
        overflow: scroll;
        }

      .col-3of6 #titleLine{
        width: 100%;
        margin-bottom: 10px;
        height:0;
        border-bottom: 3px solid black;
        }
          .col-3of6 p{
            font-family: 'Work Sans', Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            color: black;
            display: inline-block;
            margin-right: 10px;
          }

          .col-3of6 #footer{
            font-size: 15px;
            color: lightgrey;
          }

          .col-3of6 b{
            font-weight: 600;
          }

          .col-3of6 a{
            text-decoration: none;
            color: lightgrey;
          }
          .col-3of6 a:hover{
            color: #f53141;
          }

          .col-3of6 #body{
            vertical-align: top;
            height: calc(100vh - 350px);
            overflow: auto;
          }

      .col-2of6{
        width: calc(33.333% - 40px);
        margin-right: -20px;
      }

.arrow {
  position: absolute;
  margin-left: -40px;
  vertical-align: top;

}
    .arrow a{
      font-family: 'Work Sans', Helvetica, sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: black;
      text-decoration: none;
    }

        .arrow a:hover{
          color: #f53141;
        }
